* {
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    width: 100%;
    height: 100vh;
    background-color: #e4f0ec;
}
.container{
    width: 80%;
    margin: auto;
}
h2 {
    font-family: Old English Text MT, sans-serif;
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: #ba3236ed;
}
nav{
    background-color: white;
}
nav a{
    display: flex;
    text-decoration:none;
    justify-content: center;
    align-items: center;
    color: black;
    font-size:14px;
    height:30px;
} 
nav li{
    display:inline-block;
    align-items: center;
    text-align:center;
    color:black;
    }
.menu{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}
.menu .fecha{
    background-color: black;
    color: white;
    width: 13%;
    text-align: center;
    padding: 8px;
}
.menu .menu1{
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 6rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen img{
    width: 100%;
}

/* main{
    display: grid;
    grid-template-areas: 'izquierda centro derecha';
    grid-template-columns: 0.5fr 0.8fr 0.5fr ;
    grid-row: 1fr;
}
.articulo{
    grid-area: izquierda;
}
.imagen{
    grid-area: centro;

}
.articulo2{
    grid-area: derecha;

} */
main{
    display: flex;
}
.articulo{
    width: 33%;
    height: 325px;
}
.articulo p{
    width: 100%;
}
.imagen{
   width: 34%;

}
.articulo2{
    width: 33%;
    height: 325px;
}
.articulo2 p{
    width: 100%;
}
@media (max-width:1024px){
    h2{
        font-size: 4rem;
    }
    h1{
        font-size: 5rem;
    }   
}
@media (max-width:768px){
    h2{
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
    }  
    main{
        display:block;
    }
    .articulo {
        width: 100%;
        height: 100%;
    }
    .imagen{
       width: 100%;
    }
    .articulo2{
        width: 100%;
        height: 100%;
    }
}
